* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: Noto Sans Mono, sans-serif;
}

body {
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-between; 
    flex-direction: column;
    background: #eff3f6;
}

h1 {
    margin: 15px 0px;
    font-size: 40px;
}

table {
    width: 1200px;
    font-size: 30px;
    margin-left: 50px;
}

th {
    height: 100px;
    background: #b1cce7;
    color: #fff;
}

.th-empty {
    height: 100px;
    background: none;
}

.td-button {
    width: 70px;
    background: none;
    padding-left: 0px;
}

td {
    height: 50px;
    background: #d8e5f5;
    padding-left: 10px;
}

.footer {
    width: 1200px;
    margin: 10px 0px;
    margin-left: 32px;
}

button {
    margin-left: 10px;
    width: 40px;
    height: 40px;
    border: 5px solid #d8e5f5;
    background: #fff;
    color: #b1cce7;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-transform: uppercase;
}

button:hover {
    width: 45px;
    height: 45px;
}

.back-dialog {
    display: none;
    width:100%;
    min-height:100%;
    background-color: rgba(0,0,0,0.5);
    overflow:hidden;
    position:fixed;
    top:0px;
  }
  
.dialog {
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    margin:40px auto 0px auto;
    min-width:150px;
    max-width:600px;
    min-height: 150px;
    max-height: 600px;
    padding-bottom: 10px;
    background-color: #eff3f6;
    border-radius: 10px;
}
  
.dialog-text {
    font-size: 20px;
}

.dialog-content {
    padding: 10px;
}

.dialog-content > div {
    margin-top: 10px;
    display: flex;
    justify-content: space-between; 
}

.dialog-content > div > button {
    width: 100px;
}

.dialog-content > div > button:hover {
    width: 100px;
    height: 40px;
}
  
.dialog-title {
    padding-top: 10px;
    text-align: center;
    height: 50px;
    background-color: #b1cce7;
    color: #fff;
}
  
.dialog-title span {
    font-size: 25px;
    padding-left: 10px;
}

input {
    border: 1px solid #d8e5f5;
    padding-left: 10px;
    font-size: 20px;
}