* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Lato,sans-serif;
}

*::selection {
  background: transparent;
}
  
body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  overflow: hidden;
  background: #a0a0a0;
}

.app {
  display: flex;
  justify-content: center;
}

.history {
  margin-left: 50px;
  width: 350px;
  height: 700px;
}

.history-container {
  background-color: #313131;
  margin-top: 10px;
  padding: 10px;
  width: 350px;
  height: 650px;
  border-radius: 10px;
  overflow: auto;
}

.history-header {
  width: 350px;
  display: flex;
  justify-content: space-between;
}

.clear-history {
  width: 100px;
  border: 0px;
  border-radius: 10px;
  background: #f69906;
  color: #fff;
  font-size: 25px;
  cursor: pointer;
}
  
p {
  font-size: 20px;
  color: #a0a0a0;
}

p:hover {
  font-size: 23px;
  color: #fff;
}
  
.container {
  background: #000;
  padding: 20px;
  width: 400px;
  height: 700px;
  margin: 0 auto;
  border-radius: 10px;
}

.buttons {
  height: 500px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  border-radius: 10px;
}

.item {
  background-color: #313131;
  width: 75px;
  height: 75px;
  color: #f6f6f6;
  padding: 20px;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  cursor: pointer;
  font-weight: bold;
  border-radius: 50px;
}

input {
  background-color: #000;
  color: #fafafa;
  width: 100%;
  height: 150px;
  border: none;
  font-size: 60px;
  outline: none;
  text-align: right;
  padding-top: 90px;
  margin-bottom: 10px;
}