* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: Noto Sans Mono, sans-serif;
}

body {
  width: 100%;
  height: auto;
  overflow: scroll;
  display: flex;
  justify-content: center;
  background: #c8bea9;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 100px;
}
 
h1 {
  font-size: 60px;
}

h3 {
  font-size: 40px;
}

h5 {
  font-size: 20px;
  font-weight: normal;
}

table {
  padding: 150px 60px 20px 60px;
}

nav {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

nav > button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 70px;
  height: 30px;
  color: #000;
}

.app {
  width: 1200px;
  background-size: 1200px;
  margin: 0 0;
  background-image: url("background.png");
  background-repeat: no-repeat;
  background-color: #fff;
}

.title {
  font-size: 80px;
  color: #d03958;
}

.input-modal {
  background: #d03958;
  width: 550px;
  height: 600px;
  padding: 50px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 5px;
}

.services {
  padding: 50px;
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.services > div > div {
  padding-top: 10px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.input-modal > div > input {
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 5px;
  padding-left: 20px;
  font-size: 20px;
}

.input-modal > .required-field::before {
  content: "* ";
  color: #fff;
}

.input-modal > div {
  color: #fff;
  font-size: 40px;
}

.invalid-field::placeholder {
  color: #ff0000;
} 

p {
  padding-top: 5px;
  font-size: 15px;
}

button {
  cursor: pointer;
}

.input-modal > button {
  width: 400px;
  height: 50px;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background: #000;
  color: #fff;
  font-size: 20px;
}

.input-modal > button:disabled {
  cursor: auto;
  text-transform: uppercase;
  width: 400px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #333;
  color: #555;
  font-size: 20px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background: #fff;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.story {
  padding: 50px;
  display: flex;
  background: #d03958;
  justify-content: space-between;
}

.story > button {
  width: 300px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #c8bea9;
  color: #000;
  font-size: 20px;
}

.pricing {
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  background: #c8bea9;
  justify-content: space-between;
}

.pricing > div{
  padding-top: 30px;;
  width: 300px;
  height: 350px;
  align-items: center;
  display: flex;
  background: #fff;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  flex-direction: column;
  justify-content: space-between;
}

.pricing > div > h1 {
  color:#d03958;
}

.pricing > div > button {
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  background: #c8bea9;
  color: #000;
  font-size: 20px;
}

.active-button {
  background: #d03958;
  color: #fff;
  border-radius: 5px;
}

footer {
  padding: 50px;
  background: #000;
  display: flex;
  justify-content: space-between;
}

.gallery {
  padding: 50px;
  height: 400px;
  display: flex;
  justify-content: space-between;
}

.gallery > div{
  width: 500px;
  height: 300px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.gallery > div > div {
  width: 500px;
  height: 100px;
  padding: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

a {
  color:#d03958;
}

.back-dialog {
  display: none;
  width:100%;
  min-height:100%;
  background-color: rgba(0,0,0,0.5);
  overflow:hidden;
  position:fixed;
  top:0px;
}

.dialog-content {
  position: relative;
  overflow: hidden;
  overflow-y: auto;
  margin:40px auto 0px auto;
  min-width:150px;
  max-width:600px;
  min-height: 150px;
  max-height: 600px;
  padding-bottom: 10px;
  background-color: #333;
  border-radius: 10px;
}

.dialog-text {
  padding: 10px;
  color: #fff;
}

.dialog-title {
  padding-top: 10px;
  text-align: center;
  height: 50px;
  background-color: #222;
  color: #fff;
}

.dialog-title span {
  font-size: 25px;
  padding-left: 10px;
}

.close-dialog {
  position: absolute;
  right: 0;
  top: 5px;
  text-align: center;
  color: #fff;
  height: 50px;
  width: 50px;
  border:0;
  text-decoration: none;
}

.close-dialog:before {
  color: #fff;
  content: "x";
  font-size: 30px;
}